* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: salmon;
  text-align: center;
  padding: 20px 0;;
}

header h2 {
  margin-bottom: 5px;
  color: white;
}

.add-section {
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 13%;
  margin-bottom: 2px;
}
.search-section {
  width: 40%;
  margin: 10px auto;
}

.my-input,
.my-search,
.add-button {
  border: none;
  outline: none;
  padding: .8em 1em;
  width: 100%;
}

.add-button {
  cursor: pointer;
  transition: 0.2s;
}

.add-button:hover {
  background-color: #ccc;
}

ul li {
  padding: 0.8em 2.5em;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}

ul li:nth-child(odd) {
  background-color: #f9f9f9;
}

ul li:hover {
  background-color: #ddd;
}

ul li.checked {
  text-decoration: line-through;
  background-color: #888;
  color: white;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 0.6em;
  left: 1em;
  transform: rotate(45deg);
  height: 1em;
  width: 0.5em;
}

.close {
  position: absolute;
  right: 0;
  top: 0; 
  bottom: 0;
  display: flex;
  align-items: center;
  padding: .8em 1.2em;
  transition: 0.2s;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


@media (max-width: 600px) {
  * {
    font-size: 90%;
  }
}

